/* google font  */
body{
    font-family: 'Poppins', sans-serif;}

    /* header section */
    header{
        width: 1321px;
        height: 646px;
        color: white;
        background-color: #161616;
        border-radius: 10px;
    

        /* justify-content: center; */

    }


    /* css animation for header
 */
.header-img:hover{
    
    background-image:  url("https://images.unsplash.com/photo-1622766815178-641bef2b4630?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8N3VwfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
    background-size:cover;
    background-position: left;
    background-repeat: no-repeat;
    
border-radius: 10px;    
    transition: width 2s,height 4s;
    
}


/* anchor  */
.header-text a{
    text-decoration: none;
    background-color: #DD0000;
    color: #FFFFFF;
    padding: 10px 15px;
    border-radius: 5px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header-img, .header-text{
    width: 50%;
    /* font-weight: 900px; */
}
.header-text{
    margin: 111px 111px 11px 24px;
}
.header-img img{
     width: 581px;
    /* height: 613px; */
    margin-top: 33px; 
}

/* main */
main{
    margin-top: 143px;
}

/* fixed width set */

.main-section{
    margin-bottom: 50px;
    display: flex;
    gap: 10px;
}


.main-fixed{
    background-color: #161616;
     width: 312px;
     height: 312px; 
    padding: 30px;
    /* margin-bottom: 1396px; */
    
}
.flexiable-icon{
    display: flex;
    /* justify-content:; */
    gap: 10px;
    
}
.fixed-options,.fixed-options a,.blog-anchor a{
    background-color: white;
    color:#242424;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    
}
.blog-anchor a{
    display: block;
    width: 272px;
    height: 25px;
    background: #DD0000;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

/*  */
.card{
    width: 312px;
    /* height: 362px; */
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.2);
}
.main-card{
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 15px;
}

/* footer section */

footer{
    color: white;
background-color: #161616;
margin: 0;
}
.footer-goal h1{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    margin: 0px;
}
.footer-specification{
display: flex;
justify-content: center;
gap: 5%;
padding-bottom: 100px;

}


/* footer hidden section */
.social-icon{
    visibility: hidden;
}

/* view all section */
.view-all{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.btn{
    background-color:#DD0000 ;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    color: white;
    visibility: hidden;
}




/* Media queries for responsible */
/*responsive  for mobile */
@media only screen and (max-width: 767px) {
    header, main,footer{
        width: 100%;
        /* padding: 1rem; */
    }
    .header-text{
        width: 100%;
    }
    .header{
        /* flex-direction: column; */
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2,1fr);
        width: 100%;
        margin: auto;

    }
    .header-img img{
        width: 100%;
        margin-left: 10rem;
    }
    

.main-section{
    display: grid;
    


}

.main-fixed{
    padding: 50px;
    border-radius: 10px;
    justify-content: center;
}
    
   
    .main-card{
        grid-template-columns: repeat(1,1fr);
    }

    /* footer mediaquery */
    .footer-specification{
        flex-direction: column;
        justify-content: center;
        
    }
    .social-icon{
        display: flex;
        justify-content: center;
        gap: 15px;
        /* justify-content: space-between; */
        visibility: visible;
    }
    .fb,.instra,.whatsapp{
        padding: 15px;
        opacity: 2;
    }


}





/* Medium devices ( tablets, ) */
@media only screen and (min-width: 768px) and (max-width:1023px) {
   /* responsible header style  */
    .header{
        width: 100%;

    }
    .header-text, .header-img img{
        width: 30%;
    }
    /* header background */
    /* css animation for header
 */
 .header-img:hover{
    
   
    background-size:0%;
    background-position: right;
    background-repeat: no-repeat;
;
    
border-radius: 10px;    
    
}

    
.main-card{
    grid-template-columns: repeat(2,1fr);
} 
.btn{
    visibility: visible;
}
.main-section{
    display: grid;
    grid-template-rows: 20% 80%
}
.main-fixed{
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.main-fixed{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    background-color: white;
    color: black;
}
.footer-specification{
    width: 100%;
    /* justify-content: center; */
    flex-wrap: wrap;

}
}



/* ---------------- */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1024px) {
    

}