/* google font  */
body{
    font-family: 'Poppins', sans-serif;}

    /* header section */
    header{
        width: 1321px;
        height: 646px;
        color: white;
        background-color: #161616;
        border-radius: 10px;

    }

/* anchor  */
.header-text a{
    text-decoration: none;
    background-color: #DD0000;
    color: #FFFFFF;
    padding: 10px 15px;
    border-radius: 5px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header-img, .header-text{
    width: 50%;
    /* font-weight: 900px; */
}
.header-text{
    margin: 111px 111px 11px 24px;
}
.header-img img{
    width: 581px;
    height: 613px;
    margin-top: 33px;
}

/* main */
main{
    margin-top: 143px;
}

/* fixed width set */
.main-fixed{
    background-color: #161616;
    width: 312px;
    height: 312px;
    position: absolute;
    padding: 30px;
    /* margin-bottom: 1396px; */
    
}
.fixed-options{
    background-color: white;
    color:#242424;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    
}
.blog{
   background-color: #DD0000; 
   padding: 5px;
   border-radius: 5px;
   text-align: center;
}