/* google font  */
body{
    font-family: 'Poppins', sans-serif;}

    /* header section */
    header{
        width: 1321px;
        height: 646px;
        color: white;
        background-color: #161616;
        border-radius: 10px;

    }

/* anchor  */
.header-text a{
    text-decoration: none;
    background-color: #DD0000;
    color: #FFFFFF;
    padding: 10px 15px;
    border-radius: 5px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header-img, .header-text{
    width: 50%;
    /* font-weight: 900px; */
}
.header-text{
    margin: 111px 111px 11px 24px;
}
.header-img img{
    width: 581px;
    height: 613px;
    margin-top: 33px;
}

/* main */
main{
    margin-top: 143px;
}

/* fixed width set */

.main-section{
    margin-bottom: 50px;
    display: flex;
    gap: 10px;
}


.main-fixed{
    background-color: #161616;
    width: 312px;
    height: 312px;
    /* position: absolute; */
    padding: 30px;
    /* margin-bottom: 1396px; */
    
}
.flexiable-icon{
    display: flex;
    /* justify-content:; */
    gap: 10px;
    
}
.fixed-options{
    background-color: white;
    color:#242424;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    
}
.blog{
   background-color: #DD0000; 
   padding: 5px;
   border-radius: 5px;
   text-align: center;
}

/*  */
.card{
    width: 312px;
    height: 362px;
}
.main-card{
display: grid;
grid-template-columns: repeat(3,1fr);
grid-column-gap: 10px;
}

/* footer section */

footer{
    color: white;
background-color: #161616;
margin: 0;
}
.footer-goal h1{
    padding-top: 200px;
    padding-bottom: 200px;
padding-left: 40%;
}
.footer-specification{
display: flex;
justify-content: center;
gap: 5%;
padding-bottom: 100px;

}