
/* google font */
.body{
    font-family: 'Poppins', sans-serif;
}

/* header section */

    /* header section */
    header{
        width: 1321px;
        height: 646px;
        color: white;
        background-color: #161616;
        border-radius: 10px;
        margin-bottom: 50px;
    

        /* justify-content: center; */

    }

/* anchor  */
.header-text a{
    text-decoration: none;
    background-color: #DD0000;
    color: #FFFFFF;
    padding: 10px 15px;
    border-radius: 5px;
}
.header{
    display: flex;
    justify-content: space-between;
    
}
.header-img, .header-text{
    width: 50%;
    /* font-weight: 900px; */
}
.header-text{
    margin: 111px 111px 11px 24px;
}
.header-img img{
    width: 581px;
    height: 613px;
    margin-top: 33px;
}

/* main */
main{
    margin-top: 143px;
}

.main-section{
    
    margin-bottom: 100px 100px 100px 100px;
    display: flex;
    justify-content: space-between;
}

.main-fixed{
    background-color: #161616;
    width: 312px;
    height: 312px;
    /* position: absolute; */
    padding: 30px;
    width:252px ;
    height: 252px;
    /* margin-bottom: 50px; */
    
}
.flexiable-icon{
    display: flex;
    /* justify-content:; */
    gap: 10px;
    
}
.fixed-options, .blog{
    background-color: white;
    color:#242424;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    
}
.upcoming-match{
    background-color: #DD0000; 
    padding: 5px;
    border-radius: 5px;
    text-align: center;
 }

 /* Germany vs france card */
 .vs{
    width: 252px;
    height: 56.12px;
    display: flex;
    justify-content: space-around;
}
 .card{
    height: 242px;
    width: 312px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.2);
    padding: 1rem;
    margin: 1rem;
 }

 .cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
 }



 /* foooter section */
 
footer{
    color: white;
background-color: #161616;
margin: 0;
}
.footer-goal h1{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    margin: 0px;
}
.footer-specification{
display: flex;
justify-content: center;
gap: 5%;
padding-bottom: 100px;

}

/* Media query for responsive */
/* responsive for mobile */
@media only screen and (max-width: 767px) {
   


.header{
    display: grid;
    grid-template-columns: 1fr;
}
/*  */
.header-img img{
    width: 50%;
    /* margin-left: 10rem; */
}
.header-img{
    width: 70%;
}


.main-section{
display: grid;



}



    /* main */
    
.main-section{
    display: grid;
    


}

.main-fixed{
    padding: 50px;
    border-radius: 10px;
    justify-content: center;
}
    
   
    .cards{
        grid-template-columns: repeat(1,1fr);
    }
    
    .main-card{
        grid-template-columns: repeat(1,1fr);
    }

 /* main section responsive*/
 


/* footer mediaquery */
.footer-specification{
    flex-direction: column;
    justify-content: center;
    
}

}



/* ---------------- */
@media only screen and (min-width: 768px) and (max-width:1023px) {
    /* responsible header style  */
     .header{
         width: 100%;
 
     }
     .header-text, .header-img img{
         width: 30%;
     }
     /* header background */
     /* css animation for header
  */
  .header-img:hover{
     
    
     background-size:0%;
     background-position: right;
     background-repeat: no-repeat;
 ;
     
 border-radius: 10px;    
     
 }
 
     
 .cards{
     grid-template-columns: repeat(2,1fr);
 } 
 .btn{
     visibility: visible;
 }
 .main-section{
     display: grid;
     grid-template-rows: 20% 80%
 }
 .main-fixed{
     width: 100%;
     padding: 0px;
     margin: 0px;
 }
 .main-fixed{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     gap: 20px;
     background-color: white;
     color: black;
 }
 .footer-specification{
     width: 100%;
     /* justify-content: center; */
     flex-wrap: wrap;
 
 }
 }